@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(#999, #888, #ccc, #888, #999);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  align-items: center;
  height: 6.5vh;
  background-color: #222;
}

nav ul li {
  padding: 0 12px;
  color: #f0f8ff;
}

nav ul li:hover {
  color: #38b6ff;
  transform: scale(1.1);
}

.container {
  min-height: 74vh;
  background-image: url("../img/MusiBg.jpg");
  color: #f0f8ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /* display: flex; */
  width: 80%;
  margin: 1.25rem auto;
  padding: 1.54rem;
  border-radius: 0.675rem;
}

/* Song Item */

.songitemcontainer {
  margin-top: 2rem;
}

.songitem {
  height: 2rem;
  display: flex;
  opacity: 60%;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f8ff;
  color: #333;
  border-radius: 1.5rem;
  margin: 0.8rem 0;
  padding: 1.5rem 2rem;
  text-align: center;
}

.songitem img {
  width: 2.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
}

.timestamp {
  margin: 0 0.675rem;
}

.brand img {
  width: 60px;
  padding: auto 0.5rem;
}

.brand img:hover {
  transform: scale(1.1);
}

/* Bottom Player */

.bottom {
  position: sticky;
  bottom: 0;
  height: 10rem;
  background-color: #111;
  color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progressBar {
  width: 80vw;
  cursor: pointer;
  margin-top: 0.3rem;
}

.icons {
  margin-top: 1rem;
}

.icons i {
  cursor: pointer;
  padding: 0 0.54rem;
}

.icons i:hover {
  transform: scale(1.2);
  color: #3099d5;
}

.songinfo img {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.gif {
  margin-top: 0.6rem;
}

/* Media Query */

@media (max-width: 550px) {
  .songitem {
    opacity: 70%;
    height: auto;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 1rem auto;
    padding: 10px 0;
  }
  .songitem img {
    margin-right: 0;
    margin-bottom: 0.5rem;
    width: 2.2rem;
  }

  .songitem h3 {
    font-size: 1.1rem;
    margin: auto 0.2rem;
  }
}
